@font-face {
font-family: 'OpenDyslexic';
src: url("OpenDyslexicAlta-Regular.otf") format("opentype");
}

* {  -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; /* For some Androids */}
html{height:100px;width:100px;outline: 0;}
body{position: relative;height:100px;width:100px;overflow:hidden;outline: 0;font-family:'OpenDyslexic',Verdana;}
#map{zIndex:3;overflow:hidden;outline: 0;}
#map-canvas{
    position: absolute; 
    -webkit-backface-visibility: hidden;
    outline: 0;
}
#id-canvas{
    position: absolute; 
    -webkit-backface-visibility: hidden;
    outline: 0;
}

#div-go-back{
    position: absolute; 
    -webkit-backface-visibility: hidden;
    background:#11FF11;
    outline: 0;
}

#div-menu{
    position: absolute; 
    -webkit-backface-visibility: hidden;
    background:#999999;
    outline: 0;
}

#div-data{
    position: absolute; 
    -webkit-backface-visibility: hidden;
    background:#EEEEEE;
    outline: 0;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;
}
#div-data p{
    
}
#div-data table{
    width:100%;
    padding-bottom: 10px;
}
#div-data table th {
    color: white;
    background-color: red;
    padding: 15px;
}

#div-data table td {
    padding: 15px;
} 

#div-data table tr:nth-child(even) {
    background-color: #eee;
    padding: 10px;
}
#div-data table tr:nth-child(odd) {
    background-color: #fff;
    padding: 10px;
}


#div-voice{
    position: absolute; 
    -webkit-backface-visibility: hidden;
    background:#CCCCCC;
    outline: 0;
}

#buttons-div{
    position: absolute; 
    -webkit-backface-visibility: hidden;
    background:#333333;
    overflow:hidden;
    outline: 0;
}

#button-go-back{
    position: absolute; 
    background-image: url(High-contrast-go-previous.svg);
    background-repeat: no-repeat;
    background-size: cover;
    outline: 0;
}

#button-menu{
    position: absolute; 
    background-image: url(High-contrast-applications-system.svg);
    background-repeat: no-repeat;
    background-size: cover;
    outline: 0;
}

#button-data{
    position: absolute; 
    background-image: url(High-contrast-help-browser.svg);
    background-repeat: no-repeat;
    background-size: cover;
    outline: 0;
}

#button-voice{
    position: absolute; 
    background-image: url(High-contrast-audio-volume-high.svg);
    /*background-image: url(High-contrast-audio-volume-muted.svg);*/
    background-repeat: no-repeat;
    background-size: cover;
    outline: 0;
}


