@font-face {
font-family: 'OpenDyslexic';
src: url("OpenDyslexicAlta-Regular.otf") format("opentype");
}

* {  -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; /* For some Androids */}
html{height:100px;width:100px;outline: 0;}
body{position: relative;height:100px;width:100px;overflow:hidden;outline: 0;font-family:'OpenDyslexic',Verdana;}
#map{zIndex:3;overflow:hidden;outline: 0;}
#map-canvas{
    position: absolute; 
    -webkit-backface-visibility: hidden;
    outline: 0;
}
#id-canvas{
    position: absolute; 
    -webkit-backface-visibility: hidden;
    outline: 0;
}

#div-go-back{
    position: absolute; 
    -webkit-backface-visibility: hidden;
    background:#FFFFFF;
    outline: 0;
    overflow:hidden;
}

#div-go-back > div{
    /*overflow-y:hidden;
    overflow-x:hidden;*/
    overflow:hidden;
    height:100%;
    width:100%;
    margin: 0px;
    padding: 0px;
    outline: 0;    
}

#div-go-back table{
    width:100%;
    margin: 0px;
    padding: 0px;
    overflow:hidden;
}
#div-go-back table th {
    color: white;
    background-color: red;
    padding: 15px;
    overflow:hidden;
}

#div-go-back table td {
    padding: 8px;
    overflow:hidden;
    white-space:pre;
    vertical-align:top;
}

.image {
    font-weight: bold;
    color: red;
}
 
.image img {
    height:64px;
}

#div-go-back table tr:nth-child(even) {
    background-color: #eee;
    padding: 2px;
}
#div-go-back table tr:nth-child(odd) {
    background-color: #fff;
    padding: 2px;
}


#div-data{
    position: absolute; 
    -webkit-backface-visibility: hidden;
    background:#FFFFFF;
    outline: 0;
    overflow:hidden;
}

#div-data > div{
    overflow-y:scroll;
    overflow-x:hidden;
    height:100%;
    width:100%;
    margin: 0px;
    padding: 0px;
    outline: 0;    
}

#div-data table{
    width:100%;
    margin: 0px;
    padding: 0px;
    overflow:hidden;    
}
#div-data table th {
    color: white;
    background-color: red;
    padding: 15px;
    overflow:hidden;
}

#div-data table td {
    padding: 15px;
    overflow:hidden;
    vertical-align: top;    
}

.key {
    padding: 15px;
    font-weight: bold;
    color: red;
}

.value > select{
    font-size: 120%;
    width: 150px;
}

#div-data table tr:nth-child(even) {
    background-color: #eee;
    padding: 10px;
}
#div-data table tr:nth-child(odd) {
    background-color: #fff;
    padding: 10px;
}


#div-voice{
    position: absolute; 
    -webkit-backface-visibility: hidden;
    background:#FFFFFF;
    outline: 0;
}

#div-voice > div{
    overflow-y:scroll;
    overflow-x:hidden;
    height:100%;
    width:100%;
    margin: 0px;
    padding: 0px;
    outline: 0;    
}

#div-voice table{
    width:100%;
    margin: 0px;
    padding: 0px;
    overflow:hidden;    
}
#div-voice table th {
    color: white;
    background-color: red;
    padding: 15px;
    overflow:hidden;
}

#div-voice table td {
    padding: 8px;
    overflow:hidden;
    white-space:pre;
    vertical-align:top;
}


#div-voice table tr:nth-child(even) {
    background-color: #eee;
    padding: 2px;
}
#div-voice table tr:nth-child(odd) {
    background-color: #fff;
    padding: 2px;
}

#buttons-div{
    position: absolute; 
    -webkit-backface-visibility: hidden;
    background:#333333;
    overflow:hidden;
    outline: 0;
}

#button-go-back{
    position: absolute; 
    /*background-image: url(High-contrast-go-previous.svg);*/
    background-image: url(arrow-left.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position:center;
    outline: 0;
}

#button-whereami{
    position: absolute; 
    background-image: url(preview.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position:center;
    outline: 0;
}

#button-data{
    position: absolute; 
    /*background-image: url(High-contrast-help-browser.svg);*/
    background-image: url(information.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position:center;
    outline: 0;
}

#button-voice{
    position: absolute; 
    background-image: url(volume-full.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position:center;
    outline: 0;
}


